<div class="d-flex">
  <!--SIDEBAR-->
 <app-sidebar></app-sidebar>

  <!--END SIDEBAR-->

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gift">
      </div>

    </div>

    <hr />
    <div class="row">
      <div class="col">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dignissimos voluptatibus
        incidunt dolorem sed? Enim id iure quibusdam nobis veritatis harum dolore tempore vel cum, error voluptate ipsa
        vero quisquam.</div>
    </div>

  </div>



</div>